      body{
        overflow-x: hidden;
        width: 80%;
      }
      a{
        text-decoration: none;
      }
      
      *{
        margin:0;
        padding:0;
      }
      header {
        width:100%;
        height:38px;
        background-color: #D8D8D8;
        font-size: medium;
      }
      .dingwei{
        position:absolute;
        left:180px;
        top:2px
      }
      .biao {
        width:100%;
        height:200px;
        background-color: #ffffff;
        font-size: medium;
      }
    
      body {
        width:100%;
        background-color: #E6E6E6
      }
      ul{
        list-style: none; /*去除列表标记*/
      }
      
      li{
        float:left; /*表格横向显示*/
      }
      .fenlei2 li{
        float:none; 
      }
      a0{
        color: #6E6E6E;
        padding: 0 8px;
        text-decoration: none;
      }
      a2{
        color:#FF0000;
        padding: 0 8px;
      }
      a3{
        color: black;
        padding: 0 10px;
      }
      a4{
        color:#FF0000;
        padding: 0 10px;
        font-weight: bold;
      }
      a5{
        color: #585858;
        padding: 0 3px;
        font-size: 5px;
      }
      a6{
        color: black;
        font-size: 15px;
        font-weight: bold;
      }
      a7{
        color: #FE2E2E;
        background-color: #F6CECE;
        font-size: 10px;
      }
      a8{
        color:#2E2E2E;
        font-weight: bold;
        font-size: 27px;
      }
      a9{
        color: #585858;
        font-weight: bold;
        font-size: 16px;
      }
      a10{
        color: #585858;
        font-size: 11px;
      }
      a11{
        color: white;
        background-color: #1C1C1C;
        font-weight: bold;
        font-size: 12px;
        padding: 5px 15px;
        margin:10px 5px;
        position: relative;top: 20px;
      }
      a12{
        color: #1C1C1C;
        font-size: 10px;
        font-weight: bold;
        padding: 5px 15px;
        margin:10px 5px;
        position: relative;top: 40px;
        
      }
      a13{
        color: #1C1C1C;        
        font-size: 10px;
        padding: 20px 8px;
        margin:20px 10px;
        position: relative;top: 40px;
      }
      a14{
        color: #6E6E6E;
        padding: 0 8px;
        text-decoration: none;
      }
      a15{
        color: #585858;
        padding: 0 3px;
        font-size: 5px;
      }
      a16{
        color: #585858;
        padding: 0 3px;
        font-size: 5px;
      }
      a19{
        color: #585858;
        font-weight: bold;
        font-size: 16px;
      }
      .di2{
        width: 100%;
        height: 200px;
        padding: 0 0 0 120px;
        position: absolute;left: 0;top: 1800px;
      }
      .dili{
        padding: 10px 60px;
        float: left;
      }
      .dili li{
        float: none;
      }
      .hearderlist{
        width:60%;
        height:100%;
        position:relative;
        left: 600px;
        top: 5px;
      }
      .tuijian{
        width:100%;
        height:100%;
        position: absolute;
        left: 420px;
        top: 130px;
      }
      .fenlei1{
        width:100%;
        height:100%;
        position: absolute;
        left: 380px;
        top: 195px;
      }
      .fenlei2{
        padding: 0;
        position: absolute;
        left: 16px;
        top: 10px;
        line-height: 28px;
      }
      .sousuokuang{
        width: 500px;
        height: 36px;
        position: absolute;left: 430px;top:81px;
        border-color:#FF0000
      }
      .dog{
        position: absolute;
        top: 40px;
        left:45px;
        border:0;
      }
      .sousuo{
        position: absolute;left: 934px;top:81px;
      }
      .camera{
        position: absolute;left: 880px;top:83px;
      }
      .gouwuche{
        position: absolute;left: 1030px;top:82px;
      }
      .fenlei2b{
        width: 200px;
        height:500px;
        position: absolute;left: 160px;top:260px;
        background-color: white;
      }
      .ma{
        position:absolute;right:20px;top:40px
      }
      .load{
        width: 200px;
        height:500px;
        position: absolute;right:14%;top:260px;
        background-color: white;
      }
      .tui1{
        width: 550px;;
        height:500px;
        position: absolute;left:380px;top:260px ;
        
      }
      .tui2{
        width: 150px;;
        height:150px;
        position: absolute;right:28%;top:260px;
      }
      .tui3{
        width: 150px;;
        height:150px;
        position: absolute;right:28%;top:435px;
      }
      .tui4{
        width: 150px;;
        height:150px;
        position: absolute;right:28%;top:610px;
      }
      .loaddog{
        width:50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;right: 130px;top: 20px;
      }
      .load1{
        position: absolute;right: 18px;top: 20px;
      }
      .load2{
        position: absolute;right: 17%;top: 295px;
      }
      .xinrenfuli{
        width: 80px;
        height: 26px;
        outline:none;                                 /*去除点击时的外轮廓*/
        border-radius: 25px;
        border-style: none;
        background-color: #FF0000;
        color: #ffffff;
        position: absolute;right: 315px;top: 340px;
      }
      .plus{
        width: 80px;
        height: 26px;
        outline:none; 
        border-radius: 25px;
        border-style: none;
        background-color: #424242;
        color: #DBA901;
        position: absolute;right: 225px;top: 340px;
      }
      .kuaibao{
        position: absolute;right: 330px;top: 390px;
      }
      .more{
        position: absolute;right: 250px;top: 390px;
      }
      .bao1{
        position: absolute;left:1130px;top:420px;
      }
      .bao2{
        position: absolute;left:1130px;top:442px;
      }
      .bao3{
        position: absolute;left:1130px;top:464px;
      }
      .bao4{
        position: absolute;left:1130px;top:486px;
      }
      .tuiduo{
        position: absolute;right:220px;top:517px;
      }
      .miaosha{
        position: absolute;left:166px;top:780px;
      }
      .miaosha img{
        margin: -4px;
      }
      .tejiaheader{
        position: absolute;left: 15px;top:11px;
      }
      .tejia{
        height: 340px;
        width: 593px;
        background-color: white;
        position: absolute;left: 156px;top: 1050px;
        z-index: -2;
      }
      .tuijianjingxuan{
        height: 340px;
        width: 593px;
        position: absolute;left: -2px;top: 51px;
        z-index: -1;
      }
      .jingxuan1{
        height: 270px;
        position: absolute;left: 20px;top: 8px;
      }
      .jingxuan2{
        position: absolute;left: 200px;top: 5px;
      }
      .jingxuan3{
        position: absolute;left: 200px;top: 150px;
      }
      .jingxuan4{
        position: absolute;left: 400px;top: 5px;
      }
      .jingxuan5{
        position: absolute;left: 400px;top: 150px;
      }
      .tejiafenlei{
        position: absolute;right:20px;top: 15px;
        font-size:15px;       
      }
      .shangou{
        height: 340px;
        width: 550px;
        background-color: white;
        position: absolute;right:212px;top: 1050px;        
      }
      .shangouheader{
        position: absolute;left: 10px;top:15px;
      }
      .shan1{
        position: absolute;left:10px;top: 70px;
      }
      .shan2{
        position: absolute;right:180px;;top: 45px;
      }
      .shan3{
        position: absolute;right:30px;;top: 45px;
      }
      .shan4{
        position: absolute;right:180px;;top: 140px;
      }
      .shan5{
        position: absolute;right:30px;;top:140px;
      }
      .shan6{
        position: absolute;right:180px;;top:230px;
      }
      .shan7{
        position: absolute;right:30px;;top:230px;
      }
      .xian{
        width: 3000px;
        height: 2px;
        border-top: solid slategray 1px;
        z-index: 3;
      
      }
      #xian1{
        position: absolute;left: 10px;top:1800px;
      }
      #xian2{
        position: absolute;left: 10px;top:1980px;
      }
      .diwen1{
        position: absolute;top: 10px;left: 1105px;
      }
      .diwen2{
        width: 190px;
        position: absolute;top: 40px;left: 1080px;
      }
      .diwen3{
        position: absolute;top: 90px;left: 1210px;
      }
      .faxian1{
        position: absolute;left: 155px;top: 1410px;
      }
      .faxian{
        position: absolute;left: 360px;top: 1410px;
        height:260px;
        width: 945px;
        overflow-x: scroll;
        overflow-y: hidden;
      }
      


      .act div{
        background-color: #FAFAFA;
        height: 500px;
        width: 950px;
        position: absolute;left: 355px;top: 260px;
        z-index: 2;
        box-shadow: 3px 3px 3px #A4A4A4;
      }
      .act li{
        float: none;
        padding: 5px 0;
      }
      
     
      
      .show{
        display: block;
      }
      .hid{
        display: none;
      }
      #fenlei2 :hover{
        background-color: #A4A4A4;
      }
      .act div:hover{
        display:block
      }
      #mahou:hover{
        display:block
      }
      #mahou{
        height: 400px;
        position: absolute;position:absolute;left: 1170px;top:40px;
        box-shadow: 2px 2px 2px #A4A4A4;
        z-index: 5;
      }
      .fenlei1 a3:hover{
        color: #FE2E2E;
      }
      html a0:hover{
        color: #FE2E2E;
      }
      html a1:hover{
        color: #FE2E2E;
      }
      html a5:hover{
        color: #FE2E2E;
      }
      html a6:hover{
        color: #FE2E2E;
      }
      html a8:hover{
        color: #FE2E2E;
      }
      html a9:hover{
        color: #FE2E2E;
      }
      html a10:hover{
        color: #FE2E2E;
      }
      html a11:hover{
        color: #FE2E2E;
      }
      html a12:hover{
        color: #FE2E2E;
      }
      html a13:hover{
        color: #FE2E2E;
      }
      #looking:hover{
        background-color: #FE2E2E;
      }
      #looking {
        height: 35px;
        width: 130px;
        border-radius: 30px;
        position: absolute;top: 670px;left: 590px;
        background-color: #A4A4A4;
        font-size: 17px;
        color: #D8D8D8;
        outline:none; 
        z-index: 5;
      }
      #looking:hover{
        display: block;
      }
      .faxian{
        overflow-x: hidden;
      }
      body .faxian:hover{
        overflow-x: scroll;
      }

